/* Vars color */
@white: #F7FAF8;
@gray: #E4E7E5;
@superb_gray: #989A99;


.chat_name_box{
  margin-bottom: 20px;
  float: none;
  min-height: 50px;
  background-color: @gray;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  .chat_name{
    margin: auto;
    float: none;
    display: block;
    width: 100%;
    h5{
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
}


.chat_box{
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  background-color: white;
  border-radius: 40px;
  border:3px solid @superb_gray;
  justify-content: center;
  //overflow-y: scroll;
  .messages_box{
    max-width: 85%;
    min-width: 85%;
    min-height: 493px;
    max-height: 493px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    margin: auto;
    float: none;
    margin-top: 1px;
    // padding-top: 0px;
    // padding-bottom: 40px;

    .message_list{
      li:first-child{
        .more_mes_box{
          text-align: center;
          .more_mes_cont{
            color: blue;
            cursor: pointer;
            display: inline-block;
            margin: auto;
            float: none;
          }
        }
      }
      li{
        width: inherit;
        .message_box{
          width: inherit;
          .message_not_img{
            width: inherit;
            .message_icon{
              min-width: 33px;
              a{
                font-size: 45px;
                font-family: 'Fredoka One', cursive;
                transition: 0.5s;
              }
            }
            .message_icon:hover{
              a{transition: 0.5s;
              color: @superb_gray;}
            }
            .message_info{
              margin-left: 10px;
              margin-top: 12px;
              max-width: 85%;
              .message_name_time{
                font-size: 14px;
                .message_name{
                  font-weight: 700;
                  margin-right: 10px;
                }
                .message_name:hover{
                  text-decoration: underline;
                }
                .message_time{
                  .message_short_time{
                    cursor: pointer;
                    color: @superb_gray;
                  }
                  .bottom_line:hover{
                    text-decoration: underline;
                  }
                  .message_full_time{
                    margin-left: 10px;
                    display: none;
                    color: @superb_gray;
                  }
                }
                .message_time:hover{
                  .message_full_time{
                    display: block;
                  }
                }

              }
              .message_cont{
                // max-width: 20%;
                word-wrap: break-word;
              }
            }
          }

          .images_box{
            max-width: 400px;
            .images_list{
              max-width: 400px;
              display: block;
              flex-wrap: wrap;
              li{
                width: 100%;
                .image_box{
                  max-width: 150px;
                  max-height: 100px;
                  min-width: 150px;
                  min-height: 100px;
                  display: block;
                  margin-right: 5px;
                  margin-bottom: 5px;
                  img{
                    max-width: 200px;
                    max-height: 100px;
                  }
                }
                .file_box{
                  width: 100%;

                  a{
                    display: inline-block;
                    width: 95%;
                    margin-bottom: 10px;
                    .file_content{
                      word-wrap: break-word;
                      width: 100%;
                      display: inline-block;
                      background-color: @gray;
                      border-radius: 10px;

                      // overflow-x:hidden;
                      // margin-right: 5px;
                      // margin-bottom: 5px;
                      padding: 5px 5px 5px 5px;
                      min-width: 200px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.send_box{
  margin-top: 20px;
  margin-bottom: 20px;
  .button_box{
    font-size: 25px;
    transition: 0.5s;
    margin-left: 5px;
    margin-right: 5px;
  }
  .button_box:hover{
    color: @superb_gray;
    transition: 0.5s;
    cursor: pointer;
  }
  .input_box{
    max-width: 80%;
    textarea{
      height: 38px;
      overflow:hidden;
    }
  }
}

// .chat_box::-webkit-scrollbar {
//     display: none;
// }

.messages_box::-webkit-scrollbar { width: 10px;}
//.chat_box::-webkit-scrollbar-button {  background-color: #666; }
.messages_box::-webkit-scrollbar-track {  background-color: white;}
// ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.messages_box::-webkit-scrollbar-thumb { height: 50px; background-color: @superb_gray; border-radius: 5px;}
// ::-webkit-scrollbar-corner { background-color: #999;}
// ::-webkit-resizer { background-color: #666;}
#hint {

    // display: none;
    // position: absolute;
    // width: 130px;
    // //padding: 5px;
    // // margin: -15px auto auto 10px;
    // margin-left: -320px;
    // margin-top: -170px;
    // border-radius: 5px;
    // color: @superb_gray;
    // //box-shadow: 0 0 1px 2px rgba(0,0,0,.3);
    // background-color: #fff;
    // z-index: 100500;
}

.floating-div{
  .picker_comp{
    min-width: 100%;
  }
}

#upload{
  display: none;
  visibility: hidden;
}

.upload_wrap{
  margin-top: 10px;
  .upload_box{
    margin: auto;
    float: none;
    display: block;
    max-width: 80%;
    .progress{
      height: 20px;
      margin-bottom: 10px;
    }
    .upload_lists{
      .upload_list{
        .upload_label_box{
          background-color: @gray;
          border-radius: 10px;
          justify-content: center;
          margin-bottom: 10px;
          overflow-x:hidden;
          .upload_label{
            display: block;
            max-width: 85%;
            margin: auto;
            float: none;
            text-align: center;
          }
        }
        .upload_ul{
          .upload_li{
            text-align: center;
            margin-bottom: 10px;
            padding: 0 0 0 0;
            word-wrap: break-word;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 500px){
  .chat_box{
    border-radius: 10px;
    .messages_box{
      max-width: 95%;
      min-width: 95%;
      .message_list{
        li{
          .message_box{
            .message_not_img{
              .message_info{
                // max-width: 75%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .chat_box{
    // border-radius: 10px;
    .messages_box{
      // max-width: 95%;
      // min-width: 95%;
      .message_list{
        li{
          .message_box{
            .message_not_img{
              .message_info{
                max-width: 75%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px){
  .send_box{
    margin-top: 7px;
    // margin-bottom: 20px;
    .button_box{
      font-size: 20px;
      margin-top: 4px;
      // transition: 0.5s;
      // margin-left: 5px;
      // margin-right: 5px;
    }
    .button_box:hover{
      // color: @superb_gray;
      // transition: 0.5s;
      // cursor: pointer;
    }
    .input_box{
      max-width: 90%;
      padding: 0;
      textarea{
        // height: 38px;
        // overflow:hidden;
      }
    }
  }
}

@media screen and (max-width: 335px){

  .chat_name_box{
    .chat_name{
      a{
        h5{
          font-size: 99%;
        }
      }
    }
  }

  .chat_box{
    .messages_box{
      .message_list{
        li{
          .message_box{
            .images_box{
              .images_list{
                li{
                  .file_box{
                    a{
                      .file_content{
                        min-width: 100px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
