/* Vars color */
.chat_name_box {
  margin-bottom: 20px;
  float: none;
  min-height: 50px;
  background-color: #e4e7e5;
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
.chat_name_box .chat_name {
  margin: auto;
  float: none;
  display: block;
  width: 100%;
}
.chat_name_box .chat_name h5 {
  text-align: center;
  padding: 0;
  margin: 0;
}
.chat_box {
  width: 100%;
  min-height: 500px;
  max-height: 500px;
  background-color: white;
  border-radius: 40px;
  border: 3px solid #989a99;
  justify-content: center;
}
.chat_box .messages_box {
  max-width: 85%;
  min-width: 85%;
  min-height: 493px;
  max-height: 493px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  margin: auto;
  float: none;
  margin-top: 1px;
}
.chat_box .messages_box .message_list li:first-child .more_mes_box {
  text-align: center;
}
.chat_box .messages_box .message_list li:first-child .more_mes_box .more_mes_cont {
  color: blue;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  float: none;
}
.chat_box .messages_box .message_list li {
  width: inherit;
}
.chat_box .messages_box .message_list li .message_box {
  width: inherit;
}
.chat_box .messages_box .message_list li .message_box .message_not_img {
  width: inherit;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_icon {
  min-width: 33px;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_icon a {
  font-size: 45px;
  font-family: 'Fredoka One', cursive;
  transition: 0.5s;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_icon:hover a {
  transition: 0.5s;
  color: #989a99;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_info {
  margin-left: 10px;
  margin-top: 12px;
  max-width: 85%;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_info .message_name_time {
  font-size: 14px;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_info .message_name_time .message_name {
  font-weight: 700;
  margin-right: 10px;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_info .message_name_time .message_time {
  cursor: pointer;
  color: #989a99;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_info .message_name_time .bottom_line:hover {
  text-decoration: underline;
}
.chat_box .messages_box .message_list li .message_box .message_not_img .message_info .message_cont {
  word-wrap: break-word;
}
.chat_box .messages_box .message_list li .message_box .images_box {
  max-width: 400px;
}
.chat_box .messages_box .message_list li .message_box .images_box .images_list {
  max-width: 400px;
  display: block;
  flex-wrap: wrap;
}
.chat_box .messages_box .message_list li .message_box .images_box .images_list li .image_box {
  max-width: 150px;
  max-height: 100px;
  min-width: 150px;
  min-height: 100px;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.chat_box .messages_box .message_list li .message_box .images_box .images_list li .image_box img {
  max-width: 200px;
  max-height: 100px;
}
.chat_box .messages_box .message_list li .message_box .images_box .images_list li .file_box {
  min-width: 400px;
}
.chat_box .messages_box .message_list li .message_box .images_box .images_list li .file_box a .file_content {
  display: inline-block;
  background-color: #e4e7e5;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow-x: hidden;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  min-width: 200px;
}
.send_box {
  margin-top: 20px;
  margin-bottom: 20px;
}
.send_box .button_box {
  font-size: 25px;
  transition: 0.5s;
  margin-left: 5px;
  margin-right: 5px;
}
.send_box .button_box:hover {
  color: #989a99;
  transition: 0.5s;
  cursor: pointer;
}
.send_box .input_box {
  max-width: 80%;
}
.send_box .input_box textarea {
  height: 38px;
  overflow: hidden;
}
.messages_box::-webkit-scrollbar {
  width: 10px;
}
.messages_box::-webkit-scrollbar-track {
  background-color: white;
}
.messages_box::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #989a99;
  border-radius: 5px;
}
#hint {
  display: none;
  position: absolute;
  width: 130px;
  margin-left: -320px;
  margin-top: -170px;
  border-radius: 5px;
  color: #989a99;
  background-color: #fff;
  z-index: 100500;
}
.floating-div .picker_comp {
  min-width: 100%;
}
#upload {
  display: none;
  visibility: hidden;
}
.upload_wrap {
  margin-top: 10px;
}
.upload_wrap .upload_box {
  margin: auto;
  float: none;
  display: block;
  max-width: 80%;
}
.upload_wrap .upload_box .progress {
  height: 20px;
  margin-bottom: 10px;
}
.upload_wrap .upload_box .upload_lists .upload_list .upload_label_box {
  background-color: #e4e7e5;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 10px;
  overflow-x: hidden;
}
.upload_wrap .upload_box .upload_lists .upload_list .upload_label_box .upload_label {
  display: block;
  max-width: 85%;
  margin: auto;
  float: none;
  text-align: center;
}
.upload_wrap .upload_box .upload_lists .upload_list .upload_ul .upload_li {
  text-align: center;
  margin-bottom: 10px;
  padding: 0 0 0 0;
}
