.navbar-laravel {
  box-shadow: 0 2px 4px red;
}
.my-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.my-form .row {
  margin-left: 0;
  margin-right: 0;
}
.login-form {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.login-form .row {
  margin-left: 0;
  margin-right: 0;
}
.errors_reg {
  margin-top: -15px;
  color: red;
}
.left_move_reg {
  margin-left: -6px;
}
@media screen and (max-width: 992px) {
  .card .card-body .registration_form .left_move_reg {
    margin-left: -14px;
  }
}
