/* Vars color */
@white: #F7FAF8;
@gray: #E4E7E5;
@superb_gray: #989A99;
/* Specification */
@import "registration.css" screen;
@import "passwordReset.css" screen;
@import "myAccount.css" screen;
@import "chat.css" screen;
@import "tasks.css" screen;
@import "accountPage.css" screen;

body {
    font-family: 'PT Sans', sans-serif;
    background-color: @white;
}

a{
  color: #000;
}
a:hover{
  text-decoration: none;
  color: #000;
}

ul, li{
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5{
  font-weight: 700;
  color: #000;
}

/* First screen */
.logo{
  font-size: 48px;
  .logo_text{
    margin-left: 10px;
    a{
      font-family: 'Fredoka One', cursive;
    }
  }

  .fa-graduation-cap{
    margin-top: 10px;
  }

  .menu_bar{
    display: none;
  }
}


header{
  padding-top: 38px;
  .container{
    .row{
      height: 100%;

      nav{
        height: 100%;
        .menu{
          height: 100%;
          .menu__item{
            height: 100%;
            border-radius: 25px;
            transition: 0.5s;
            // padding: 23px 27px;
            a{
              padding: 23px 27px;
              display: block;
              height: 100%;
              div{
                font-size: 18px;
                transition: 0.3s;
                color: #000;
                height: 100%;
              }
            }
          }

          .menu__item:hover{
            transition: 0.7s;
            background-color: @gray;
            a{
              transition: 0.7s;
              color: @superb_gray;
            }
          }
        }
      }

    }

  }

}

.content_self{
  margin-top: 40px;
  .text_author{
    .lable_author{
      h4{
        .tutorib_line{
          text-decoration: underline;
        }
      }
    }
    .content_author{
      h5{
        .tutorib_line{
          text-decoration: underline;
        }
      }
      div{
        .tutorib_line{
          text-decoration: underline;
        }
        .tutorib_bold{
          font-family: 'Fredoka One', cursive;
        }
      }
      .list_basic_models{
        li{
          list-style-type:disc;
          display: list-item;
          margin-left: 70px;
        }
      }
    }
  }
  .user_info{
    justify-content: center;
    background-color: @gray;
    border-radius: 30px;
    padding-bottom: 25px;
    .user_center{
      display: block;
      max-width: 85%;
      margin: auto;
      float: none;

    }

    .user_name{
      padding-top: 20px;
      a{
        .user_name_box{
          display: inline-block;
          h5{
            transition: 0.5s;
          }
          h5:hover{
            color: @superb_gray;
            transition: 0.5s;
          }
        }
      }
    }

    .user_name:hover{
      color: @superb_gray;
    }

    .user_data{
      .user_data_list{
        li{
          background-color: @gray;
          border: none;
        }
      }
    }

    .logout{
      margin-top: 10px;
    }
  }
  .img_author{
    display: block;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-image: url(/images/author_avatar.jpg);
  }

  .icons{
    font-size: 40px;
      .icons_ul{
        justify-content: center;
        li{
          .icon_box{
            margin-left: 25px;
            margin-right: 25px;
            a{
              height: 40px;
              display: inline-block;
              transition: 0.5s;
              // margin-top: 10px;
              i{
                display: block;
              }
            }
            a:hover{
              color: @superb_gray;
              transition: 0.5s;
            }
          }
        }
      }
  }

  .form_entrance{
    form{
      a.btn_registration{
        float: right;
      }
      .form-check{
        .form-check-input{

        }
      }
    }

    .a_password_foget{
      margin-top: 10px;
      a{
        color: #0000FF;
      }
    }
  }

  .materials{
    margin-top: 70px;

    h5{
      margin-bottom: 15px;
    }

    .list-counter-circle {
      list-style: none;
      counter-reset: list;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .list-counter-circle>li {
      transition: 0.7s;
      position: relative;
      display: block;
      height: 2rem;
      line-height: 2rem;
      margin-left: 1.75rem;
      margin-bottom: .25rem;
      padding-left: 1rem;
      padding-right: .5rem;
      color: #000;
      background: @gray;
      white-space: nowrap;
      border-radius: .25rem
    }
    .list-counter-circle>li:last-child {
      margin-bottom: 0;
    }
    .list-counter-circle>li>::before {
      content: counter(list);
      counter-increment: list;
      position: absolute;
      left: -2rem;
      top: -.25rem;
      bottom: -.25rem;
      width: 2.5rem;
      line-height: 2rem;
      border-radius: 1.25rem;
      border: .25rem solid @white;
      text-align: center;
      color: #000;
      background: @gray;
    }

    .list-counter-circle>li>a{
      transition: 0.7s;
    }
    .list-counter-circle>li:hover{
      a{
        transition: 0.7s;
        color: @superb_gray;
      }

    }
  }
}


.footer{
  margin-top: 100px;
  margin-bottom: 30px;
  .logo_footer{
    font-size: 28px;
    margin-top: 12px;
    .logo_footer_wrap{
      display: inline-block;
      float: none;
      margin: auto;
      a{
        display: inline-block;
        font-family: 'Fredoka One', cursive;
        color: @superb_gray;
        transition: 0.7s;
        .logo_footer_box{
          i{
            margin-right: 5px;
            display: inline-block;
            margin-top: 7px;
          }
        }
      }
      a:hover{
        color: inherit;
        transition: 0.7s;
      }
    }
  }

  .menu_footer{
    nav{
      height: 100%;
      .menu{
        height: 100%;
        .menu__item{
          height: 100%;
          border-radius: 25px;
          transition: 0.5s;
          a{
            padding: 23px 27px;
            display: block;
            div{
              font-size: 14px;
              transition: 0.3s;
              color: #000;
            }
          }
        }

        .menu__item:hover{
          transition: 0.7s;
          background-color: @gray;
          a{
            transition: 0.7s;
            color: @superb_gray;
          }
        }
      }
    }
  }

  .icons_footer{
    font-size: 40px;
    display: block;
      ul{
        display: block;
        float: right;
        margin-top: 3px;
        li:last-child{
          margin-left: 25px;
        }
        li{
          a{
            transition: 0.7s;
            color: @superb_gray;
            display: inline-block;
            i{
              display: block;
            }
          }
          a:hover{
            transition: 0.7s;
            color: inherit;
          }
        }
      }
  }
}

.powered_wrap{
  text-align: center;
  margin-bottom: 50px;
  .powered_box{
    display: inline-block;
    div{
      margin-bottom: 15px;
      color: @superb_gray;
    }
  }
}
//Media orders

@media screen and (max-width: 1200px){
  .content_self{
    margin-top: 40px;
    .img_author{
      display: block;
      border-radius: 100%;
      width: 200px;
      height: 200px;
      background-image: url(/images/author_avatar_sm.jpg);

      .text_author{
        .content_author{

        }
      }
    }
  }
}

@media screen and (max-width: 992px){
  .logo{
    font-size: 48px;
    justify-content: center;
    .logo_text{
      margin-left: 10px;
      a{
        font-family: 'Fredoka One', cursive;
      }
    }

    .fa-graduation-cap{
      margin-top: 10px;
    }
  }

  .text_author{
    text-align: center;
    .title_author{
      h2{
        text-align: center;
      }
    }
    .lable_author{
      h4{
        text-align: center;
      }
    }

  }

  .form_entrance{
    margin-top: 35px;
  }

  .footer{
    .logo_footer{
      // justify-content: center;
      text-align: center;
      .logo_footer_wrap{

      }
    }

    .icons_footer{
      ul.icons_footer_ul{
        float: none;
        justify-content: center;
      }
    }
  }

  .sitebar{
    display: inline-flex;
    justify-content:space-between;
    .materials{
      width: 40%;
    }
    .form_entrance{
      width: 70%;
    }
    .user_info{
      width: 40%;
      margin-top: 70px;
      .logout{
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .header{
    .logo{
      justify-content: space-between;
      .menu_bar{
        display: block;
      }
    }

    .menu_header{
      display: none;
      .menu{
        flex-direction: column;
        .menu__item{
          text-align: center;
          height: 50px;
          a{
            padding: 0;
            div{

            }
          }
        }
      }
    }
  }

  .footer{
    .menu_footer{
      nav{
        .menu{
          flex-direction: column;
          .menu__item{
            text-align: center;
            height: 30px;
            a{
              padding: 0;
              div{
                margin-top: 5px;
              }
            }
          }
        }
      }
    }

    .icons_footer{
      margin-top: 10px;
    }

    .logo_footer{
      margin-bottom: 10px;
    }
  }
  .sitebar{
    display: inline-flex;
    justify-content:space-between;
    .materials{
      width: 50%;
    }
    .form_entrance{
      width: 70%;
    }
    .user_info{
      width: 40%;
      margin-top: 70px;
      .logout{
        margin-top: 50px;
      }
    }
  }

}


@media screen and (max-width: 540px){
  .sitebar{
    display: block;
    justify-content: none;
    .materials{
      width: 100%;
    }
    .form_entrance{
      width: 100%;
    }
    .user_info{
      width: 100%;
      margin-top: 70px;
      .logout{
        margin-top: 50px;
      }
      .user_data{
        width: 93%;
        margin: auto;
      }
    }
  }
}
