@import "registration.css" screen;
@import "passwordReset.css" screen;
@import "myAccount.css" screen;
@import "chat.css" screen;
@import "tasks.css" screen;
@import "accountPage.css" screen;
/* Vars color */
/* Specification */
body {
  font-family: 'PT Sans', sans-serif;
  background-color: #f7faf8;
}
a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000;
}
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: #000;
}
/* First screen */
.logo {
  font-size: 48px;
}
.logo .logo_text {
  margin-left: 10px;
}
.logo .logo_text a {
  font-family: 'Fredoka One', cursive;
}
.logo .fa-graduation-cap {
  margin-top: 10px;
}
.logo .menu_bar {
  display: none;
}
header {
  padding-top: 38px;
}
header .container .row {
  height: 100%;
}
header .container .row nav {
  height: 100%;
}
header .container .row nav .menu {
  height: 100%;
}
header .container .row nav .menu .menu__item {
  height: 100%;
  border-radius: 25px;
  transition: 0.5s;
}
header .container .row nav .menu .menu__item a {
  padding: 23px 27px;
  display: block;
  height: 100%;
}
header .container .row nav .menu .menu__item a div {
  font-size: 18px;
  transition: 0.3s;
  color: #000;
  height: 100%;
}
header .container .row nav .menu .menu__item:hover {
  transition: 0.7s;
  background-color: #e4e7e5;
}
header .container .row nav .menu .menu__item:hover a {
  transition: 0.7s;
  color: #989a99;
}
.content_self {
  margin-top: 40px;
}
.content_self .text_author .lable_author h4 .tutorib_line {
  text-decoration: underline;
}
.content_self .text_author .content_author h5 .tutorib_line {
  text-decoration: underline;
}
.content_self .text_author .content_author div .tutorib_line {
  text-decoration: underline;
}
.content_self .text_author .content_author div .tutorib_bold {
  font-family: 'Fredoka One', cursive;
}
.content_self .text_author .content_author .list_basic_models li {
  list-style-type: disc;
  display: list-item;
  margin-left: 70px;
}
.content_self .user_info {
  justify-content: center;
  background-color: #e4e7e5;
  border-radius: 30px;
  padding-bottom: 25px;
}
.content_self .user_info .user_center {
  display: block;
  max-width: 85%;
  margin: auto;
  float: none;
}
.content_self .user_info .user_name {
  padding-top: 20px;
}
.content_self .user_info .user_name a .user_name_box {
  display: inline-block;
}
.content_self .user_info .user_name a .user_name_box h5 {
  transition: 0.5s;
}
.content_self .user_info .user_name a .user_name_box h5:hover {
  color: #989a99;
  transition: 0.5s;
}
.content_self .user_info .user_name:hover {
  color: #989a99;
}
.content_self .user_info .user_data .user_data_list li {
  background-color: #e4e7e5;
  border: none;
}
.content_self .user_info .logout {
  margin-top: 10px;
}
.content_self .img_author {
  display: block;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background-image: url(/images/author_avatar.jpg);
}
.content_self .icons {
  font-size: 40px;
}
.content_self .icons .icons_ul {
  justify-content: center;
}
.content_self .icons .icons_ul li .icon_box {
  margin-left: 25px;
  margin-right: 25px;
}
.content_self .icons .icons_ul li .icon_box a {
  height: 40px;
  display: inline-block;
  transition: 0.5s;
}
.content_self .icons .icons_ul li .icon_box a i {
  display: block;
}
.content_self .icons .icons_ul li .icon_box a:hover {
  color: #989a99;
  transition: 0.5s;
}
.content_self .form_entrance form a.btn_registration {
  float: right;
}
.content_self .form_entrance .a_password_foget {
  margin-top: 10px;
}
.content_self .form_entrance .a_password_foget a {
  color: #0000FF;
}
.content_self .materials {
  margin-top: 70px;
}
.content_self .materials h5 {
  margin-bottom: 15px;
}
.content_self .materials .list-counter-circle {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.content_self .materials .list-counter-circle > li {
  transition: 0.7s;
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  padding-right: .5rem;
  color: #000;
  background: #e4e7e5;
  white-space: nowrap;
  border-radius: 0.25rem;
}
.content_self .materials .list-counter-circle > li:last-child {
  margin-bottom: 0;
}
.content_self .materials .list-counter-circle > li > ::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -0.25rem;
  bottom: -0.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: 0.25rem solid #f7faf8;
  text-align: center;
  color: #000;
  background: #e4e7e5;
}
.content_self .materials .list-counter-circle > li > a {
  transition: 0.7s;
}
.content_self .materials .list-counter-circle > li:hover a {
  transition: 0.7s;
  color: #989a99;
}
.footer {
  margin-top: 100px;
  margin-bottom: 30px;
}
.footer .logo_footer {
  font-size: 28px;
  margin-top: 12px;
}
.footer .logo_footer .logo_footer_wrap {
  display: inline-block;
  float: none;
  margin: auto;
}
.footer .logo_footer .logo_footer_wrap a {
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  color: #989a99;
  transition: 0.7s;
}
.footer .logo_footer .logo_footer_wrap a .logo_footer_box i {
  margin-right: 5px;
  display: inline-block;
  margin-top: 7px;
}
.footer .logo_footer .logo_footer_wrap a:hover {
  color: inherit;
  transition: 0.7s;
}
.footer .menu_footer nav {
  height: 100%;
}
.footer .menu_footer nav .menu {
  height: 100%;
}
.footer .menu_footer nav .menu .menu__item {
  height: 100%;
  border-radius: 25px;
  transition: 0.5s;
}
.footer .menu_footer nav .menu .menu__item a {
  padding: 23px 27px;
  display: block;
}
.footer .menu_footer nav .menu .menu__item a div {
  font-size: 14px;
  transition: 0.3s;
  color: #000;
}
.footer .menu_footer nav .menu .menu__item:hover {
  transition: 0.7s;
  background-color: #e4e7e5;
}
.footer .menu_footer nav .menu .menu__item:hover a {
  transition: 0.7s;
  color: #989a99;
}
.footer .icons_footer {
  font-size: 40px;
  display: block;
}
.footer .icons_footer ul {
  display: block;
  float: right;
  margin-top: 3px;
}
.footer .icons_footer ul li:last-child {
  margin-left: 25px;
}
.footer .icons_footer ul li a {
  transition: 0.7s;
  color: #989a99;
  display: inline-block;
}
.footer .icons_footer ul li a i {
  display: block;
}
.footer .icons_footer ul li a:hover {
  transition: 0.7s;
  color: inherit;
}
.powered_wrap {
  text-align: center;
  margin-bottom: 50px;
}
.powered_wrap .powered_box {
  display: inline-block;
}
.powered_wrap .powered_box div {
  margin-bottom: 15px;
  color: #989a99;
}
@media screen and (max-width: 1200px) {
  .content_self {
    margin-top: 40px;
  }
  .content_self .img_author {
    display: block;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    background-image: url(/images/author_avatar_sm.jpg);
  }
}
@media screen and (max-width: 992px) {
  .logo {
    font-size: 48px;
    justify-content: center;
  }
  .logo .logo_text {
    margin-left: 10px;
  }
  .logo .logo_text a {
    font-family: 'Fredoka One', cursive;
  }
  .logo .fa-graduation-cap {
    margin-top: 10px;
  }
  .text_author {
    text-align: center;
  }
  .text_author .title_author h2 {
    text-align: center;
  }
  .text_author .lable_author h4 {
    text-align: center;
  }
  .form_entrance {
    margin-top: 35px;
  }
  .footer .logo_footer {
    text-align: center;
  }
  .footer .icons_footer ul.icons_footer_ul {
    float: none;
    justify-content: center;
  }
  .sitebar {
    display: inline-flex;
    justify-content: space-between;
  }
  .sitebar .materials {
    width: 40%;
  }
  .sitebar .form_entrance {
    width: 70%;
  }
  .sitebar .user_info {
    width: 40%;
    margin-top: 70px;
  }
  .sitebar .user_info .logout {
    margin-top: 50px;
  }
}
@media screen and (max-width: 768px) {
  .header .logo {
    justify-content: space-between;
  }
  .header .logo .menu_bar {
    display: block;
  }
  .header .menu_header {
    display: none;
  }
  .header .menu_header .menu {
    flex-direction: column;
  }
  .header .menu_header .menu .menu__item {
    text-align: center;
    height: 50px;
  }
  .header .menu_header .menu .menu__item a {
    padding: 0;
  }
  .footer .menu_footer nav .menu {
    flex-direction: column;
  }
  .footer .menu_footer nav .menu .menu__item {
    text-align: center;
    height: 30px;
  }
  .footer .menu_footer nav .menu .menu__item a {
    padding: 0;
  }
  .footer .menu_footer nav .menu .menu__item a div {
    margin-top: 5px;
  }
  .footer .icons_footer {
    margin-top: 10px;
  }
  .footer .logo_footer {
    margin-bottom: 10px;
  }
  .sitebar {
    display: inline-flex;
    justify-content: space-between;
  }
  .sitebar .materials {
    width: 50%;
  }
  .sitebar .form_entrance {
    width: 70%;
  }
  .sitebar .user_info {
    width: 40%;
    margin-top: 70px;
  }
  .sitebar .user_info .logout {
    margin-top: 50px;
  }
}
@media screen and (max-width: 540px) {
  .sitebar {
    display: block;
    justify-content: none;
  }
  .sitebar .materials {
    width: 100%;
  }
  .sitebar .form_entrance {
    width: 100%;
  }
  .sitebar .user_info {
    width: 100%;
    margin-top: 70px;
  }
  .sitebar .user_info .logout {
    margin-top: 50px;
  }
  .sitebar .user_info .user_data {
    width: 93%;
    margin: auto;
  }
}
