.tasks_box{
  min-height: 250px;
}

.card{
  .card-body{
    .tasks_box{
      min-height: 250px;
    }
    .task_form{
      .textarea_box{
        width: 100%;
        textarea{
          width: inherit;
          height: 70px;
          overflow:hidden;
          border-radius: 3px;
        }
      }
      .input_file_box{
        margin-bottom: 5px;
        input{
          // background-color: #AB0CB6;
        }
      }
      .input_time_box{
        margin-bottom: 5px;
      }
    }
  }
}
