/* Vars color */
#task_form {
  display: block;
}
#comment_form {
  display: none;
}
.card .card-body .tasks_box {
  min-height: 250px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.card .card-body .tasks_box .more_task_box {
  justify-content: center;
}
.card .card-body .tasks_box .more_task_box .more_task {
  display: inline-block;
  float: none;
  margin: auto;
  color: blue;
}
.card .card-body .tasks_box .more_task_box .more_task a {
  color: inherit;
}
.card .card-body .tasks_box .tasks_list li .task_box {
  padding: 10px 10px 10px 10px;
  border: 1px solid #989a99;
  border-radius: 7px;
  margin-bottom: 10px;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name {
  justify-content: space-between;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name .check_btn {
  cursor: pointer;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new {
  width: 90%;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new h5 {
  max-width: 70%;
  flex-wrap: wrap;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new .new_task {
  height: 22px;
  padding-right: 6px;
  padding-left: 6px;
  background-color: #bd00bd;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 800;
  color: white;
  margin-left: 5px;
  margin-top: 3px;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new .checked_icon_box {
  height: 22px;
  padding-right: 6px;
  padding-left: 6px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 800;
  color: #bd00bd;
  margin-left: 5px;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_name .edit_icon {
  color: #989a99;
  cursor: pointer;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_time_limit {
  color: #989a99;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_text .last_cont {
  display: none;
}
.card .card-body .tasks_box .tasks_list li .task_box .open_icon_box {
  justify-content: flex-end;
}
.card .card-body .tasks_box .tasks_list li .task_box .open_icon_box .open_icon {
  display: inline-block;
  font-size: 25px;
  max-height: 25px;
  color: #989a99;
  cursor: pointer;
}
.card .card-body .tasks_box .tasks_list li .task_box .open_icon_box .open_icon .open_icon_up {
  display: none;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box {
  display: none;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list {
  display: block;
  flex-wrap: wrap;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li {
  width: 100%;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li .image_box {
  max-width: 200px;
  max-height: 100px;
  min-height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li .image_box a {
  max-width: inherit;
  max-height: inherit;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li .image_box a img {
  max-width: inherit;
  max-height: inherit;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li .file_box {
  min-width: 100%;
  max-width: 100%;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li .file_box .file_content {
  display: inline-block;
  background-color: #e4e7e5;
  border-radius: 10px;
  overflow-x: hidden;
  margin-right: 5px;
  padding: 5px 5px 5px 5px;
  max-width: inherit;
}
.card .card-body .tasks_box .tasks_list li .task_box .task_files_box .files_list li .file_box .file_content a {
  display: block;
  height: 100%;
  width: 100%;
}
.card .card-body .tasks_box .tasks_list li .task_box .answer_comment {
  display: none;
}
.card .card-body .tasks_box .tasks_list li .task_box .answer_comment .answer_comment_box {
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
  border: 1px solid #989a99;
  border-radius: 7px;
}
.card .card-body .tasks_box .tasks_list li .task_box .answer_comment .answer_comment_box .comment_grade span:first-child {
  font-weight: bold;
}
.card .card-body .tasks_box .tasks_list li .task_box .answer_comment .answer_comment_box .comment_comment span:first-child {
  font-weight: bold;
}
.card .card-body .task_form .textarea_box {
  width: 100%;
}
.card .card-body .task_form .textarea_box textarea {
  width: inherit;
  height: 70px;
  overflow: hidden;
  border-radius: 3px;
}
.card .card-body .task_form .input_file_box {
  margin-bottom: 5px;
}
.card .card-body .task_form .check_change_box {
  display: none;
}
.card .card-body .task_form .input_id_box {
  display: none;
}
.card .card-body .task_form .check_delet_wrap {
  display: none;
}
.card .card-body .task_form .check_delet_wrap .check_delet_box {
  margin-bottom: 5px;
  justify-content: space-between;
}
.card .card-body .task_form .check_delet_wrap .check_delet_box .input_check_delet input {
  display: block;
  margin-top: 7px;
}
.card .card-body .task_form .input_name_box {
  margin-bottom: 5px;
}
.card .card-body .task_form .input_name_box input {
  width: 100%;
}
.card .card-body .task_form .input_time_box {
  margin-bottom: 5px;
  justify-content: space-between;
  display: flex;
}
.card .card-body .task_form .input_time_box .input_time_text {
  display: inline-block;
  height: 22px;
  margin-top: 7px;
}
.tasks_box::-webkit-scrollbar {
  width: 10px;
}
.tasks_box::-webkit-scrollbar-track {
  background-color: white;
}
.tasks_box::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #989a99;
  border-radius: 5px;
}
@media screen and (max-width: 460px) {
  .card .card-body .tasks_box .tasks_list li .task_box .task_name {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new .new_task {
    width: 35px;
    margin-left: 0px;
  }
  .card .card-body .tasks_box .tasks_list li .task_box .task_name .name_and_new h5 {
    width: 100%;
    max-width: 100%;
  }
  .card .card-body .task_form .input_time_box {
    flex-direction: column;
    margin-top: 0px;
  }
  .card .card-body .task_form .input_time_box .input_time_text {
    margin-top: 0;
  }
}
@media screen and (max-width: 370px) {
  .card .card-body .tasks_box {
    margin-bottom: 5px;
  }
  .card .card-body .task_form .input_file_box input {
    font-size: 13px;
  }
}
@media screen and (max-width: 340px) {
  .card .card-body .tasks_box .tasks_list li .task_box {
    padding: 3px 3px 3px 3px;
  }
}
