/* Vars color */
@white: #F7FAF8;
@gray: #E4E7E5;
@superb_gray: #989A99;
@pink: #BD00BD;

.tasks_box{
  // min-height: 250px;
  // background-color: red;
}

#task_form{
  display: block;
}
#comment_form{
  display: none;
}

.card{
  .card-body{
    .tasks_box{
      min-height: 250px;
      max-height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 20px;
      .more_task_box{
        justify-content: center;
        .more_task{
          display: inline-block;
          float: none;
          margin: auto;
          color: blue;
          a{
            color: inherit;
          }
        }
      }
      .tasks_list{
        li{
          .task_box{
            padding: 10px 10px 10px 10px;
            border:1px solid @superb_gray;
            border-radius: 7px;
            margin-bottom: 10px;
            .task_name{
              justify-content: space-between;
              .check_btn{
                cursor: pointer;
              }
              .name_and_new{
                width: 90%;
                h5{
                  max-width: 70%;
                  flex-wrap: wrap;
                }
                .new_task{
                  height: 22px;
                  padding-right: 6px;
                  padding-left: 6px;
                  background-color: @pink;
                  border-radius: 20px;
                  font-size: 13px;
                  font-weight: 800;
                  color: white;
                  margin-left: 5px;
                  margin-top: 3px;
                }
                .checked_icon_box{
                  height: 22px;
                  padding-right: 6px;
                  padding-left: 6px;
                  // background-color: @pink;
                  border-radius: 20px;
                  font-size: 20px;
                  font-weight: 800;
                  color: @pink;
                  margin-left: 5px;
                }
              }
              .edit_icon{
                color: @superb_gray;
                cursor: pointer;
              }
            }
            .task_time_limit{
              color: @superb_gray;
            }
            .task_text{
              .last_cont{
                display: none;
              }
            }
            .open_icon_box{
              justify-content: flex-end;
              .open_icon{
                display: inline-block;
                font-size: 25px;
                max-height: 25px;
                color: @superb_gray;
                cursor: pointer;
                .open_icon_down{

                }
                .open_icon_up{
                  display: none;
                }
              }
            }
            .task_files_box{
              display: none;
              .files_list{
                // max-width: 90%;

                display: block;
                flex-wrap: wrap;
                li{
                  width: 100%;
                  .image_box{
                    max-width: 200px;
                    max-height: 100px;
                    // min-width: 200px;
                    min-height: 100px;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    a{
                      max-width: inherit;
                      max-height: inherit;
                      img{
                        max-width: inherit;
                        max-height: inherit;
                      }
                    }
                  }
                  .file_box{
                    min-width: 100%;
                    max-width: 100%;
                    .file_content{
                      display: inline-block;
                      background-color: @gray;
                      border-radius: 10px;
                      overflow-x:hidden;
                      margin-right: 5px;
                      padding: 5px 5px 5px 5px;
                      // min-width: inherit;
                      max-width: inherit;
                      a{
                        display: block;
                        height: 100%;
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
            .answer_comment{
              display: none;
              .answer_comment_box{
                margin-top: 10px;
                padding: 10px 10px 10px 10px;
                border:1px solid @superb_gray;
                border-radius: 7px;
                .comment_grade{
                  span:first-child{
                    font-weight: bold;
                  }
                }
                .comment_comment{
                  span:first-child{
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
    .task_form{
      .textarea_box{
        width: 100%;
        textarea{
          width: inherit;
          height: 70px;
          overflow:hidden;
          border-radius: 3px;
        }
      }
      .input_file_box{
        margin-bottom: 5px;
        input{
          // background-color: #AB0CB6;
        }
      }
      .check_change_box{
        display: none;
      }
      .input_id_box{
        display: none;
      }
      .check_delet_wrap{
        display: none;
        .check_delet_box{
          margin-bottom: 5px;
          justify-content: space-between;
          .check_delet_text{

          }
          .input_check_delet{
            input{
              display: block;
              margin-top: 7px;
            }
          }
        }
      }

      .input_name_box{
        margin-bottom: 5px;
        input{
          width: 100%;
        }
      }
      .input_time_box{
        margin-bottom: 5px;
        justify-content: space-between;
        display: flex;
        .input_time_text{
          display: inline-block;
          height: 22px;
          margin-top: 7px;
        }
        .input_time{

        }
      }
    }
  }
}

.tasks_box::-webkit-scrollbar { width: 10px;}
//.chat_box::-webkit-scrollbar-button {  background-color: #666; }
.tasks_box::-webkit-scrollbar-track {  background-color: white;}
// ::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.tasks_box::-webkit-scrollbar-thumb { height: 50px; background-color: @superb_gray; border-radius: 5px;}

@media screen and (max-width: 460px){
  .card{
    .card-body{
      .tasks_box{
        .tasks_list{
          li{
            .task_box{
              .task_name{
                flex-direction: column;
                // text-align: justify;
                // justify-content: flex-start;
                // display: block;
                .check_btn{
                  // width: 100%;
                  // float: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .card{
    .card-body{
      .tasks_box{
        .tasks_list{
          li{
            .task_box{
              .task_name{
                .name_and_new{
                  flex-direction: column;
                  width: 100%;
                  max-width: 100%;
                  display: block;
                  .new_task{
                    width: 35px;
                    margin-left: 0px;
                  }
                  h5{
                    width: 100%;
                    max-width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      .task_form{
        .input_time_box{
          flex-direction: column;
          margin-top: 0px;
          .input_time_text{
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px){
  .card{
    .card-body{
      .tasks_box{
        margin-bottom: 5px;
      }
      .task_form{
        .input_file_box{
          // width: 70%;
          input{
            // width: 100%;
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 340px){
  .card{
    .card-body{
      .tasks_box{
        .tasks_list{
          li{
            .task_box{
              padding: 3px 3px 3px 3px;
            }
          }
        }
      }
    }
  }
}
